node_modules
node_modules/.cache/default-development/1.pack
node_modules/.cache/default-development/0.pack
node_modules/.cache/default-development/1.pack
node_modules/.cache/default-development/0.pack
/.metadata/
